body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.main-area{
    display: flex;
}
.img{
    width:30%;
    margin-left: 90px;
    margin-top:50px;
    box-shadow: 10px 10px 40px grey;
    border-radius:20px;
}
.img img{
    width:100%;
}
.left{
    width:40%;
    margin-left:70px;
    margin-top:50px;
    padding:25px;
    box-shadow: 10px 10px 40px grey;
    border-left:7px solid;
    border-image: linear-gradient(white,orange);
    border-image-slice: 1;
    border-radius:20px;
}
.left p{
    text-align: justify;
}
span.name{
    color:orange
}
.left h1{
    font-size: 30px;
}
.left h3{
    font-size: 30px;
}